---
import BaseLayout from "../../layouts/BaseLayout.astro"
const title='holaMundo';
const tags = ['astro','bloguear','exitos','contratiempo'];
export function getStaticPaths() {
  return [
    { params: { tag: '1' } },
    { params: { tag: '2' } },
    { params: { tag: '3' } }
  ];
}
const { tag } = Astro.params;
---
<h1>{tag}</h1>
<BaseLayout pageTitle={title}>
    <ul>
      {tags.map((tag) => <a>{tag}</a><br/>)}
    </ul>
</BaseLayout>
<!--
---

export async function getStaticPaths () {
    
    return [];
};

---
    <BaseLayout pageTitle="TAGS"></BaseLayout>
    -->
