<html>
<body>
	<h1>Mi sitio Astro</h1>
	<h1>Sobre mi</h1>
	<h2>... !y mi nuevo sitio Astro!</h2>

	<p>Estoy trabajando introductorio de Astro. Esta es la segunda pagina de mi sitio web, !y es la primera que he construido yo mimsmo!</p>
	<p>Este sitio se ira actualizando a nmedida que vaya completando mas partes del tutorial, así que no dejes de visitarlo para ver como va mi viaje!</p>
<ul>
	<li><a href="/">Inicio</a></li>
	<li><a href="/blog/">Blog</a></li>
</ul>


</body>
</html>