---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
const pageTitle = "Pagina de inicio";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Mi impresionante subtitulo del blog</h2>
  <Greeting client:load messages={["Hola","Que tal","Hola a Todos"]} />
</BaseLayout>